<div class="card container pt-4">
	<div class="card-header">
		<div class="row">
			<div class="col-12">
				<h1 style="color: #8B0000">Honours</h1>
			</div>
		</div>
	</div>
	<div class="card-info" style="margin: 25px 0 0 0">
		<div class="card-info-cl">
			<div class="row">
				<div class="col-12">
					<h1 style="color: black">LEAGUE CHAMPIONS (13)</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<p>1930/31, 1932/33, 1933/34, 1934/35, 1937/38, 1947/48, 1952/53, 1970/71, 1988/89, 1990/91, 1997/98, 2001/02, 2003/04</p>
				</div>
			</div>
			<div class="row align-items-center mt-4">
				<img src="~/images/honours/champions_2004.jpg" width="100%"/>
			</div>
		</div>

		<div class="card-info-fa" style="margin: 25px 0 0 0">
			<div class="row">
				<div class="col-12">
					<h1 style="color: black">FA CUP WINNERS (14)*</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<p>2020  Beat Chelsea 2-12017  Beat Chelsea 2-12015  Beat Aston Villa 4-02014  Beat Hull City 3-2 
						(aet)2005  Beat Manchester United 5-4 on pens (aet: after 0-0 draw)2003  Beat Southampton 1-02002  
						Beat Chelsea 2-0 1998  Beat Newcastle United 2-01993  Beat Sheffield Wednesday 2-1 (aet: replay after 1-1 draw)1979  
						Beat Manchester United 3-21971  Beat Liverpool 2-1 (aet)1950  Beat Liverpool 2-01936  Beat Sheffield United 1-01930 
						Beat Huddersfield Town 2-0* We currently hold the record for most FA Cup wins</p>
				</div>
			</div>
			<div class="row align-items-center mt-4">
				<img src="~/images/honours/team_96.jpg" width="100%"/>
			</div>
		</div>

		<div class="card-info-leagcup" style="margin: 25px 0 0 0">
			<div class="row">
				<div class="col-12">
					<h1 style="color: black">LEAGUE CUP WINNERS (2)</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<p>1993  Beat Sheffield Wednesday 2-11987  Beat Liverpool 2-1</p>
				</div>
			</div>
			<div class="row align-items-center mt-4">
				<img src="~/images/honours/leaguecup_1993_2.jpg" width="100%"/>
			</div>
		</div>


		<div class="card-info-fa" style="margin: 25px 0 0 0">
			<div class="row">
				<div class="col-12">
					<h1 style="color: black">EUROPEAN FAIRS CUP WINNERS (1)</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<p>1970  Beat Anderlecht 4-3 on aggregate</p>
				</div>
			</div>
			<div class="row align-items-center mt-4">
				<img src="~/images/honours/fairs_cup_mee_0.jpg" width="100%"/>
			</div>
		</div>

		<div class="card-info-leagcup" style="margin: 25px 0 0 0">
			<div class="row">
				<div class="col-12">
					<h1 style="color: black">EUROPEAN CUP WINNERS CUP WINNERS (1)</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<p>1994  Beat Parma 1-0 (in Copenhagen)</p>
				</div>
			</div>
			<div class="row align-items-center mt-4">
				<img src="~/images/honours/cupwinnerscup_1994.jpg" width="100%"/>
			</div>
		</div>

		<div class="card-info-leagcup" style="margin: 25px 0 0 0">
			<div class="row">
				<div class="col-12">
					<h1 style="color: black">EUROPEAN CUP WINNERS CUP WINNERS (1)</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<p>1994  Beat Parma 1-0 (in Copenhagen)</p>
				</div>
			</div>
			<div class="row align-items-center mt-4">
				<img src="~/images/honours/cupwinnerscup_1994.jpg" width="100%"/>
			</div>
		</div>

		<div class="card-info-leagcup" style="margin: 25px 0 50px 0">
			<div class="row">
				<div class="col-12">
					<h1 style="color: black">CHARITY/COMMUNITY SHIELD WINNERS (15+1 SHARED)</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<p>2020  Beat Liverpool 5-4 on pens (after 1-1)2017  Beat Chelsea 4-1 on pens (aet: after 1-1)2015 
						Beat Chelsea 1-0 2014  Beat Manchester City 3-0 2004  Beat Manchester United 3-1 2002  Beat Liverpool
						1-0 1999  Beat Manchester United 2-11998  Beat Manchester United 3-01991  Drew with Tottenham Hotspur 0-0 
						(shared)1953  Beat Blackpool 3-11948  Beat Manchester United 4-31938  Beat Preston North End 2-11934  
						Beat Manchester City 4-01933  Beat Everton 3-01931  Beat West Bromwich Albion 1-01930  Beat Sheffield Wednesday 2-1</p>
				</div>
			</div>
			<div class="row align-items-center mt-4">
				<img src="~/images/honours/Podcast-August-7.jpg" width="100%"/>
			</

	</div>
</div>