@model IEnumerable<News>


<div class="row pb-3" style="margin-bottom: 30px">
		@foreach (var news in Model)
		{
			<div class="col-lg-4 col-md-6">
				<div class="row p-2">
					<div class="col-12 p-1" style="border: 1px solid #008cba; border-radius: 5px">
						<div class="card">
							<img src="@news.ImageUrl" width="100%" class="card-img-top rounded"/>

							<div class="card-body">
							<div class="pl-1">
									<p class="card-title h1 text-center" style="color: #8B0000">@news.Title</p>
							</div>
							</div>
						</div>
						<div>
								<a asp-controller="DetailsNews" asp-action="Index" class="btn form-control" style="color: slategray" asp-route-newsId="@news.Id">
								News Details
							</a>
						</div>
					</div>
				</div>
			</div>
		}
</div>

