@model IEnumerable<Player>


<div class="row pb-3">
		@foreach (var player in Model)
		{
			<div class="col-lg-4 col-md-6">
				<div class="row p-2">
					<div class="col-12 p-1" style="border: 1px solid #008cba; border-radius: 5px;">
						<div class="card">
							<img src="@player.ImageURL" width="100%" class="card-img-top rounded"/>

							<div class="card-body">
							<div class="pl-1">
									<p class="card-title h1 text-primary text-center">@player.Name</p>
									<p class="card-title h3 text-info text-center"><b>@player.Position</b></p>
							</div>
							</div>
						</div>
						<div>
								<a asp-controller="Details" asp-action="Index" class="btn btn-primary form-control" asp-route-playerId="@player.Id">
								Player Info
							</a>
						</div>
					</div>
				</div>
			</div>
		}
</div>