@model Player

<form method="post" asp-action="Edit" enctype="multipart/form-data">

	<div class="row">
		<div class="col-10">
			<div class="border p-3 mt-4">
		<div class="row pb-2">
			<h2 class="text-primary">Edit a Player</h2>
			<hr />
		</div>
		@*<div asp-validation-summary="All"></div>*@
		<div class="mb-3">
			<label asp-for="Name"></label>
			<input asp-for="Name" class="form-control" />
			<span asp-validation-for="Name" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="DateOfBirth"></label>
			<input asp-for="DateOfBirth" class="form-control" />
			<span asp-validation-for="DateOfBirth" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="Position"></label>
			<input asp-for="Position" class="form-control" />
			<span asp-validation-for="Position" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="PreviousClubs"></label>
			<input asp-for="PreviousClubs" class="form-control" />
			<span asp-validation-for="PreviousClubs" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="TwitterLink"></label>
			<input asp-for="TwitterLink" class="form-control" />
			<span asp-validation-for="TwitterLink" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="Description"></label>
			<textarea asp-for="Description" class="form-control"></textarea>
			<span asp-validation-for="Description" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="ImageURL"></label>
			<input type="file" id="uploadBox" name="file" class="form-control" />
		</div>
		<button type="submit" class="btn btn-primary" style="width: 150px">Update</button>
		<a asp-controller="Player" asp-action="Index" class="btn btn-secondary" style="width:150px">
			Back to List
		</a>
	</div>
		</div>
		<div class="col-2 pt-4">
			<img src="@Model.ImageURL"
			width="100%" style="border-radius: 5px; border: 1px solid #bbb9b9"/>
		</div>
	</div>

	
</form>

@section Scripts{
	@{
		<partial name="_ValidationScriptsPartial"/>
	}
	<script>
		tinymce.init({
		  selector: 'textarea',
		  plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed linkchecker a11ychecker tinymcespellchecker permanentpen powerpaste advtable advcode editimage tinycomments tableofcontents footnotes mergetags autocorrect typography inlinecss',
		  toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | addcomment showcomments | spellcheckdialog a11ycheck typography | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
		  tinycomments_mode: 'embedded',
		  tinycomments_author: 'Author name',
		  mergetags_list: [
			{ value: 'First.Name', title: 'First Name' },
			{ value: 'Email', title: 'Email' },
		  ]
		});
	</script>
}